* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero--section {
  width: 100%;
  height: 100vh;
  background-image: url(../Images/fFsbXB.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
}

nav {
  display: flex;
  justify-content: space-between;
}

.left--nav {
  display: flex;
  align-items: center;
}

.center--nav {
  display: flex;
  align-items: center;
  /* background-color: aliceblue; */
  border-radius: 25px;
}

.search--bar {
  display: flex;
  background-color: aliceblue;
  opacity: 0.5;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0 5px;
}

.search--bar > input {
  background: transparent;
  outline: none;
  color: gray;
  border: none;
  padding-left: 5px;
}

.search--icon {
  font-size: 20px !important;
  color: black;
}

.right--nav {
  display: flex;
  align-items: center;
  font-size: 12px;
}
