* {
  padding: 0;
  margin: 0;
}
.App {
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.form--input {
  width: 40%;
  padding: 7px;
  font-size: 18px;
  outline: 1px solid black;
  border: none;
  background: transparent;
  color: aqua;
}

.form--button {
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  width: 7%;
  background-color: aqua;
  font-weight: bold;
  cursor: pointer;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  justify-content: center;
}

.movie--component {
  display: flex;
}

.movie--tile {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 15px;
}

.movie--tile:hover {
  outline: 2px solid darkgray;
  cursor: pointer;
}

.movie--info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.movie--info .second {
  outline: 1px solid aqua;
}
.movie--info span {
  border-radius: 4px;
  color: darkgray;
}

.movie--tile img {
  height: 220px;
  width: 250px;
  border-radius: 10px;
}

.movie--title {
  align-self: left;
  font-size: 15px;
}

/* Trending Movies */

.trending--container {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.trending--container:hover {
  opacity: 0.5;
  cursor: pointer;
}

.trending {
  display: flex;
  overflow: scroll;
  gap: 10px;
  margin-left: 10px;
}

.trending--container .image img {
  border-radius: 20px;
}

.trending--container .movie--info {
  display: flex;
  flex-direction: column;
}

.trending--heading {
  font-size: 35px;
  padding: 10px;
  margin-right: 5px;
  letter-spacing: 3px;
}

.trend--button {
  padding: 7px;
  font-size: 15px;
  background-color: aqua;
  border: none;
  border-right: 2px solid black;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  margin-left: 5px;
}

.trending::-webkit-scrollbar {
  height: 8px;
}

.trending::-webkit-scrollbar-thumb {
  background: linear-gradient(aqua, rgb(48, 112, 112));
  border-radius: 20px;
  width: 10px;
}
