* {
  padding: 0;
  margin: 0;
}
.App {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #07100e;
  background-blend-mode: multiply;
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.form .form--left {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form .form--left h1 {
  color: aqua;
}

.form .form--right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.form .form--center {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.form--input {
  width: 50%;
  padding: 7px;
  font-size: 18px;
  outline: 1px solid black;
  border: none;
  background: transparent;
  color: aqua;
}

.form--button {
  border: none;
  padding: 10px 15px;
  font-size: 15px;
  width: 15%;
  text-align: center;
  background-color: aqua;
  font-weight: bold;
  cursor: pointer;
}

.trending-heading-container {
  display: flex;
  align-items: center;
}

.button--container {
  display: flex;
  gap: 7px;
}

.notActive:hover,
.activeButton:hover {
  outline: 1px solid aqua;
  cursor: pointer;
  color: aqua;
}

.notActive {
  padding: 5px 10px;
  border: none;
  outline: 1px solid rgb(70, 69, 69);
  font-weight: bold;
  color: darkgray;
  background: transparent;
  border-radius: 6px;
}

.activeButton {
  padding: 0 10px;
  background: transparent;
  outline: 1px solid aqua;
  border: none;
  color: aqua;
  font-weight: bold;
  border-radius: 6px;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  padding: 20px;
}

.movie--component {
  display: flex;
  padding: 3px;
}

.movie--tile {
  display: flex;
  flex-direction: column;
  width: 150px;
  border-radius: 15px;

  /* background-color: aliceblue; */
}

.movie--tile:hover {
  opacity: 0.6;
  cursor: pointer;
}

.movie--info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 12px;
}

.movie--info .second {
  outline: 1px solid aqua;
}
.movie--info span {
  border-radius: 4px;
  color: darkgray;
}

.movie--tile img {
  height: 220px;
  border-radius: 10px;
}

.movie--title {
  font-size: 15px;
  text-align: left;
}

/* Trending Movies */

.trending--container {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.trending--container:hover {
  opacity: 0.7;
  cursor: pointer;
}

.trending {
  display: flex;
  overflow: scroll;
  gap: 10px;
  margin-left: 10px;
}

.trending--container .image img {
  border-radius: 20px;
}

.trending--container .movie--info {
  display: flex;
  flex-direction: column;
}

.trending--heading {
  font-size: 35px;
  padding: 10px;
  margin-right: 5px;
  letter-spacing: 3px;
}

.trending::-webkit-scrollbar {
  height: 8px;
}

.trending::-webkit-scrollbar-thumb {
  background: linear-gradient(aqua, rgb(48, 112, 112));
  width: 10px;
}

.sections {
  display: flex;
}

.sections .section-1 {
  flex: 3;
}

.top--rated {
  flex: 3;
}
.top--rated h3 {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  gap: 10px;
  flex: 1;
}

.section-2 div {
  margin-bottom: 7px;
}

.section-2 h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
}

.tvSeriesHeading {
  margin-bottom: 10px;
}

.popular--container {
  display: flex;
  background-color: #000000;
  width: 100%;
  border-radius: 10px;
  gap: 15px;
}

.popular--info .info {
  font-size: 10px;
}

.popular--info .title {
  font-weight: bold;
}

.popular--container:hover {
  background-color: rgb(40, 206, 206);
  outline: none;
  cursor: pointer;
  color: #000000;
}

.popular--container img {
  height: 70px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}

.popular--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display--icon {
  color: aqua;
}
